
  .main {
    width: 800px;
    border: 0;
    margin: 0 auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .main img {
    display: block;
    margin-bottom: 10px;
  }

  .nav {
	background-color: #333;
	color: #fff;
  }
  
  .nav td {
	padding: 10px;
  }
  
  .nav a {
	color: #fff;
	text-decoration: none;
  }
  body
  {
	background-image: url("../images/image19.jpg");
  }
  p{
    color: white;
  }