body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
  }
  
  .nav {
	background-color: #333;
	color: #fff;
  }
  
  .nav td {
	padding: 10px;
  }
  
  .nav a {
	color: #fff;
	text-decoration: none;
  }
  
  .main {
	
	margin: 20px auto;
	padding: 20px;
  }
  
  .main p {
	margin: 0 0 10px 0;
	color: white;
	font-size: 22px;
  }
  
  .main img {
	display: block;
	margin-bottom: 10px;
  }
  
  .main table {
	margin: 0 auto;
	margin-bottom: 0;
  }
  
  .main table td:first-child {
	vertical-align: top;
	width: 50%;
	padding-right: 20px;
  }
  
  .main table td:last-child {
	vertical-align: top;
	width: 50%;
	padding-left: 20px;
  }
  
  .main table td:last-child p:last-child {
	margin-bottom: 0;
  }
  a:hover
  {
	color: aqua;
  }
  body
  {
	background-image: url("../images/image2.jpg");
  }
  